<!DOCTYPE html>
<head>
    <title>IB Equations Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">
            <img src="{{url_for('static', filename='calc.png')}}" alt="icon" width="30" height="30" class="d-inline-block align-top">
        </a> 
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
              Prior Learning
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <button class="dropdown-item" id="parallelogram-area.jpg" onclick="">Area of Parallelogram</button>
                <button class="dropdown-item" id="areaTriangle">Area of Triangle</button>
                <a class="dropdown-item" href="#">Area of Trapezoid</a>
                <a class="dropdown-item" href="#">Area of Circle</a>
                <a class="dropdown-item" href="#">Area of Cylinder Curve</a>
                <a class="dropdown-item" href="#">Circumference of Circle</a>
                <a class="dropdown-item" href="#">Volume of Cuboid</a>
                <a class="dropdown-item" href="#">Volume of Cylinder</a>
                <a class="dropdown-item" href="#">Volume of Prism</a>
                <a class="dropdown-item" href="#">Distance Between Two Points</a>
                <a class="dropdown-item" href="#">Coordinates of Midpoint</a>
            </div>
        </li>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                Number And Algebra
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="#">n'th Term of Arithemetic Sequence</a>
                <a class="dropdown-item" href="#">n'th Term of Geometric Sequence</a>
                <a class="dropdown-item" href="#">Sum of n terms of an Arithemetic Sequence</a>
                <a class="dropdown-item" href="#">Sum of n terms of a Finite Geometric Sequence</a>
                <a class="dropdown-item" href="#">Sum of n terms of a Infinite Geometric Sequence</a>
                <a class="dropdown-item" href="#">Compound Interest</a>
                <a class="dropdown-item" href="#">Combinations</a>
                <a class="dropdown-item" href="#">Permutations</a>
            </div>
        </li>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                Funcitons
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <a class="dropdown-item" href="#">Gradient Formula</a>
                <a class="dropdown-item" href="#">Axis of Symmetry for Quadratic</a>
                <a class="dropdown-item" href="#">Quadratic Equation</a>
                <a class="dropdown-item" href="#">Discriminant</a>
            </div>
        </li>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                Geometry and Trigonometry
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                <a class="dropdown-item" href="#">Distance between Two Points in Space</a>
                <a class="dropdown-item" href="#">Coordinates of Midpoint of Line in Space</a>
                <a class="dropdown-item" href="#">Volume of a Right-Pyramid</a>
                <a class="dropdown-item" href="#">Volume of a Right-Cone</a>
                <a class="dropdown-item" href="#">Volume of a Sphere</a>
                <a class="dropdown-item" href="#">Area of Cone Curve</a>
                <a class="dropdown-item" href="#">Surface area of Sphere</a>
                <a class="dropdown-item" href="#">Sin Rule</a>
                <a class="dropdown-item" href="#">Cosin Rule</a>
                <a class="dropdown-item" href="#">Area of Triangle</a>
                <a class="dropdown-item" href="#">Arc-length</a>
                <a class="dropdown-item" href="#">Sector-Area</a>
                <a class="dropdown-item" href="#">Magnitude of a Vector</a>
                <a class="dropdown-item" href="#">Dot Product</a>
                <a class="dropdown-item" href="#">Angle between two Vectors</a>
            </div>
        </li>
    </nav>
    <img src="{{url_for('static', filename='calculatorart-01.png')}}" style="position: absolute; right: 10px"/>
    <p id="main">
        {% block body %}
        {% set imageFile = 'parallelogram.jpg' %}
        {% set display = 'display: block' %}
        <img id="mainImg" src="{{url_for('static', filename='{{imageFile}}')}}" alt="Equation" style="{{display}}" />
        {% endblock %}
    </p>
</body>
