<!DOCTYPE html>
<head>
    <title>IB Equations Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{{url_for('static', filename='calc.png')}}" alt="icon" width="30" height="30" class="d-inline-block align-top">
        </a> 
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
              Prior Learning
            </a>
            <form class="dropdown-menu" aria-labelledby="navbarDropdown" method="POST">
                <button class="dropdown-item" type="submit" name="para1" value="para1">Area of Parallelogram</button>
                <button class="dropdown-item" type="submit" name="tri1" value="tri1">Area of Triangle</button>
                <button class="dropdown-item" type="submit" name="trap1" value="trap1">Area of Trapezoid</button>
                <button class="dropdown-item" type="submit" name="circ1" value="circ1">Area of Circle</button>
                <button class="dropdown-item" type="submit" name="cyl1" value="cyl1">Area of Cylinder Curve</button>
                <button class="dropdown-item" type="submit" name="circ2" value="circ2">Circumference of Circle</button>
                <button class="dropdown-item" type="submit" name="cub1" value="cub1">Volume of Cuboid</button>
                <button class="dropdown-item" type="submit" name="cyl2" value="cyl2">Volume of Cylinder</button>
                <button class="dropdown-item" type="submit" name="pris1" value="pris1">Volume of Prism</button>
                <button class="dropdown-item" type="submit" name="poi1" value="poi1">Distance Between Two Points</button>
                <button class="dropdown-item" type="submit" name="poi2" value="poi2">Coordinates of Midpoint</button>
            </form>
        </li>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                Number And Algebra
            </a>
            <form class="dropdown-menu" aria-labelledby="navbarDropdown2" method="POST">
                <button class="dropdown-item" type="submit" name="term1" value="term1">n'th Term of Arithemetic Sequence</button>
                <button class="dropdown-item" type="submit" name="term2" value="term2">n'th Term of Geometric Sequence</button>
                <button class="dropdown-item" type="submit" name="sum1" value="sum1">Sum of n terms of an Arithemetic Sequence</button>
                <button class="dropdown-item" type="submit" name="sum2" value="sum2">Sum of n terms of a Finite Geometric Sequence</button>
                <button class="dropdown-item" type="submit" name="sum3" value="sum3">Sum of n terms of a Infinite Geometric Sequence</button>
                <button class="dropdown-item" type="submit" name="int1" value="int1">Compound Interest</button>
                <button class="dropdown-item" type="submit" name="comb1" value="comb1">Combinations</button>
                <button class="dropdown-item" type="submit" name="perm1" value="perm1">Permutations</button>
            </form>
        </li>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                Funcitons
            </a>
            <form class="dropdown-menu" aria-labelledby="navbarDropdown3" method="POST">
                <button class="dropdown-item" type="submit" name="gra1" value="gra1">Gradient Formula</button>
                <button class="dropdown-item" type="submit" name="axi1" value="axi1">Axis of Symmetry for Quadratic</button>
                <button class="dropdown-item" type="submit" name="quad1" value="quad1">Quadratic Equation</button>
                <button class="dropdown-item" type="submit" name="disc1" value="disc1">Discriminant</button>
            </form>
        </li>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                Geometry and Trigonometry
            </a>
            <form class="dropdown-menu" aria-labelledby="navbarDropdown4" method="POST">
                <button class="dropdown-item" type="submit" name="poi3" value="poi3">Distance between Two Points in Space</button>
                <button class="dropdown-item" type="submit" name="poi4" value="poi4">Coordinates of Midpoint of Line in Space</button>
                <button class="dropdown-item" type="submit" name="pyr1" value="pyr1">Volume of a Right-Pyramid</button>
                <button class="dropdown-item" type="submit" name="con1" value="con1">Volume of a Right-Cone</button>
                <button class="dropdown-item" type="submit" name="sph1" value="sph1">Volume of a Sphere</button>
                <button class="dropdown-item" type="submit" name="con2" value="con2">Area of Cone Curve</button>
                <button class="dropdown-item" type="submit" name="sph2" value="sph2">Surface area of Sphere</button>
                <button class="dropdown-item" type="submit" name="sin1" value="sin1">Sin Rule</button>
                <button class="dropdown-item" type="submit" name="cos1" value="cos1">Cosin Rule</button>
                <button class="dropdown-item" type="submit" name="tri2" value="tri2">Area of Triangle</button>
                <button class="dropdown-item" type="submit" name="arc1" value="arc1">Arc-length</button>
                <button class="dropdown-item" type="submit" name="sec1" value="sec1">Sector-Area</button>
                <button class="dropdown-item" type="submit" name="mag1" value="mag1">Magnitude of a Vector</button>
                <button class="dropdown-item" type="submit" name="dot1" value="dot1">Dot Product</button>
                <button class="dropdown-item" type="submit" name="ang1" value="ang1">Angle between two Vectors</button>
            </form>
        </li>
    </nav>
    <img src="{{url_for('static', filename='calculatorart-01.png')}}" alt="Calculator" style="position: absolute; right: 10px"/>
    <div id="main">
        {% if val == 0 %}
        <h1>Welcome</h1>
        {% elif val == 1 %}
        <img src="{{url_for('static', filename='parallelogram-area.jpg')}}" alt="Equation"/>
        {% elif val == 2 %}
        <img src="{{url_for('static', filename='areaoftriangle.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        {% elif val == 3 %}
        <img src="{{url_for('static', filename='trapezoid-area.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        {% elif val == 4 %}
        <img src="{{url_for('static', filename='area-of-circle-information.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        {% elif val == 5 %}
        <img src="{{url_for('static', filename='cylinder-curved.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        {% elif val == 6 %}
        <img src="{{url_for('static', filename='circumfrence-circle.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        {% endif %}
    </div>
</body>
