<!DOCTYPE html>
<head>
    <title>IB Equations Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <form method="POST">
            <button type="submit" id="icon" name="icon" value="icon" style="display: none"></button>
            <a class="navbar-brand" onclick="document.getElementById('icon').click();" style="cursor: pointer">
                <img src="{{url_for('static', filename='calc.png')}}" alt="icon" width="30" height="30" class="d-inline-block align-top">
            </a>
        </form>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
              Prior Learning
            </a>
            <form class="dropdown-menu" aria-labelledby="navbarDropdown" method="POST">
                <button class="dropdown-item" type="submit" name="para1" value="para1">Area of Parallelogram</button>
                <button class="dropdown-item" type="submit" name="tri1" value="tri1">Area of Triangle</button>
                <button class="dropdown-item" type="submit" name="trap1" value="trap1">Area of Trapezoid</button>
                <button class="dropdown-item" type="submit" name="circ1" value="circ1">Area of Circle</button>
                <button class="dropdown-item" type="submit" name="cyl1" value="cyl1">Area of Cylinder Curve</button>
                <button class="dropdown-item" type="submit" name="circ2" value="circ2">Circumference of Circle</button>
                <button class="dropdown-item" type="submit" name="cub1" value="cub1">Volume of Cuboid</button>
                <button class="dropdown-item" type="submit" name="cyl2" value="cyl2">Volume of Cylinder</button>
                <button class="dropdown-item" type="submit" name="pris1" value="pris1">Volume of Prism</button>
            </form>
        </li>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                Number And Algebra
            </a>
            <form class="dropdown-menu" aria-labelledby="navbarDropdown2" method="POST">
                <button class="dropdown-item" type="submit" name="term1" value="term1">n'th Term of Arithemetic Sequence</button>
                <button class="dropdown-item" type="submit" name="term2" value="term2">n'th Term of Geometric Sequence</button>
                <button class="dropdown-item" type="submit" name="sum1" value="sum1">Sum of n terms of an Arithemetic Sequence</button>
                <button class="dropdown-item" type="submit" name="sum2" value="sum2">Sum of n terms of a Finite Geometric Sequence</button>
                <button class="dropdown-item" type="submit" name="sum3" value="sum3">Sum of n terms of an Infinite Geometric Sequence</button>
                <button class="dropdown-item" type="submit" name="int1" value="int1">Compound Interest</button>
                <button class="dropdown-item" type="submit" name="comb1" value="comb1">Combinations</button>
                <button class="dropdown-item" type="submit" name="perm1" value="perm1">Permutations</button>
            </form>
        </li>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                Funcitons
            </a>
            <form class="dropdown-menu" aria-labelledby="navbarDropdown3" method="POST">
                <button class="dropdown-item" type="submit" name="axi1" value="axi1">Axis of Symmetry for Quadratic</button>
                <button class="dropdown-item" type="submit" name="quad1" value="quad1">Quadratic Equation</button>
                <button class="dropdown-item" type="submit" name="disc1" value="disc1">Discriminant</button>
            </form>
        </li>
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:azure">
                Geometry and Trigonometry
            </a>
            <form class="dropdown-menu" aria-labelledby="navbarDropdown4" method="POST">
                <button class="dropdown-item" type="submit" name="pyr1" value="pyr1">Volume of a Right-Pyramid</button>
                <button class="dropdown-item" type="submit" name="con1" value="con1">Volume of a Right-Cone</button>
                <button class="dropdown-item" type="submit" name="sph1" value="sph1">Volume of a Sphere</button>
                <button class="dropdown-item" type="submit" name="con2" value="con2">Area of Cone Curve</button>
                <button class="dropdown-item" type="submit" name="sph2" value="sph2">Surface Area of Sphere</button>
                <button class="dropdown-item" type="submit" name="sin1" value="sin1">Sine Rule</button>
                <button class="dropdown-item" type="submit" name="cos1" value="cos1">Cosine Rule</button>
                <button class="dropdown-item" type="submit" name="tri2" value="tri2">Area of Triangle</button>
                <button class="dropdown-item" type="submit" name="arc1" value="arc1">Arc-Length</button>
                <button class="dropdown-item" type="submit" name="sec1" value="sec1">Sector-Area</button>
                <button class="dropdown-item" type="submit" name="mag1" value="mag1">Magnitude of a Vector</button>
                <button class="dropdown-item" type="submit" name="dot1" value="dot1">Dot Product</button>
                <button class="dropdown-item" type="submit" name="ang1" value="ang1">Angle Between Two Vectors</button>
            </form>
        </li>
    </nav>
    <img src="{{url_for('static', filename='calculatorart-01.png')}}" alt="Calculator" style="position: absolute; right: 10px"/>
    <form id="calculator" method="POST">
        <label style="position: absolute; top: 110px; right: 60px; font-size: 30px;">
            <p id="calc-text-label" onclick="handleLabel()" style="width: 280px; position: absolute; display: block">{{calc}}</p>
            <input type="text" id="calc-text" name="calc-text" pattern="[0-9()×*+-./^π]*?" style="width: 280px;">
            <button type="reset" onclick="handleLabel()" style="position: absolute; top: 60px; right: 0;">Clear</button>
            <button type="button" value="7" onclick="handleCalc(7)" style="position: absolute; top: 155px; right: 232px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="8" onclick="handleCalc(8)" style="position: absolute; top: 155px; right: 150px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="9" onclick="handleCalc(9)" style="position: absolute; top: 155px; right: 70px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="+" onclick="handleCalc('+')" style="position: absolute; top: 155px; right: -11px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="4" onclick="handleCalc(4)" style="position: absolute; top: 238px; right: 232px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="5" onclick="handleCalc(5)" style="position: absolute; top: 238px; right: 150px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="6" onclick="handleCalc(6)" style="position: absolute; top: 238px; right: 70px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="-" onclick="handleCalc('-')" style="position: absolute; top: 238px; right: -11px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="1" onclick="handleCalc(1)" style="position: absolute; top: 321px; right: 232px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="2" onclick="handleCalc(2)" style="position: absolute; top: 321px; right: 150px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="3" onclick="handleCalc(3)" style="position: absolute; top: 321px; right: 70px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="*" onclick="handleCalc('×')" style="position: absolute; top: 321px; right: -11px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="0" onclick="handleCalc(0)" style="position: absolute; top: 404px; right: 232px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="." onclick="handleCalc('.')" style="position: absolute; top: 404px; right: 150px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="submit" value="=" style="position: absolute; top: 404px; right: 70px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="/" onclick="handleCalc('/')" style="position: absolute; top: 404px; right: -11px; width: 55px; height: 55px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="pi" onclick="handleCalc('π')" style="position: absolute; top: 480px; right: 249px; width: 38px; height: 29px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="^" onclick="handleCalc('^')" style="position: absolute; top: 480px; right: 186px; width: 38px; height: 29px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="*10^" onclick="handleCalc('×10^')" style="position: absolute; top: 480px; right: 120px; width: 38px; height: 29px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value="(" onclick="handleCalc('(')" style="position: absolute; top: 480px; right: 56px; width: 38px; height: 29px; background: transparent; border: none !important; outline: none;"></button>
            <button type="button" value=")" onclick="handleCalc(')')" style="position: absolute; top: 480px; right: -10px; width: 38px; height: 29px; background: transparent; border: none !important; outline: none;"></button>
        </label>
    </form>
    <script>
        function handleCalc(button) {
            if (document.getElementById("calc-text-label").innerText !== "") {
                handleLabel();
            }
            var box = document.getElementById("calc-text");
            box.value += button;
            box.focus();
        }
        function handleLabel() {
            document.getElementById("calc-text").value = document.getElementById("calc-text-label").innerText;
            document.getElementById("calc-text-label").innerText = "";
        }
    </script>
    <div id="main">
        {% if val == 0 %}
        <h1>Welcome</h1>
        {% elif val == 1 %}
        <img src="{{url_for('static', filename='parallelogram-area.jpg')}}" alt="Equation"/>
        <form method="POST">
            <label style="font-size: 30px"> A
                <input type="text" name="A" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> h
                <input type="text" name="h" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 2 %}
        <img src="{{url_for('static', filename='areaoftriangle.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> A
                <input type="text" name="A" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> h
                <input type="text" name="h" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 3 %}
        <img src="{{url_for('static', filename='trapezoid-area.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> A
                <input type="text" name="A" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a
                <input type="text" name="a" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> h
                <input type="text" name="h" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 4 %}
        <img src="{{url_for('static', filename='area-of-circle-information.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> A
                <input type="text" name="A" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 5 %}
        <img src="{{url_for('static', filename='cylinder-curved.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> A
                <input type="text" name="A" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> h
                <input type="text" name="h" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 6 %}
        <img src="{{url_for('static', filename='circumfrence-circle.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> C
                <input type="text" name="C" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 7 %}
        <img src="{{url_for('static', filename='volume-cuboid.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> V
                <input type="text" name="V" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> l
                <input type="text" name="l" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> w
                <input type="text" name="w" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> h
                <input type="text" name="h" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 8 %}
        <img src="{{url_for('static', filename='volumecyl.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> V
                <input type="text" name="V" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> h
                <input type="text" name="h" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 9 %}
        <img src="{{url_for('static', filename='v-prism.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> V
                <input type="text" name="V" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> h
                <input type="text" name="h" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> l
                <input type="text" name="l" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 10 %}
        <img src="{{url_for('static', filename='n1.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> a<sub>n</sub>
                <input type="text" name="an" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a<sub>1</sub>
                <input type="text" name="a1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> n
                <input type="text" name="n" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> d
                <input type="text" name="d" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 11 %}
        <img src="{{url_for('static', filename='geometric-sequence.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> a<sub>n</sub>
                <input type="text" name="an" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a<sub>1</sub>
                <input type="text" name="a1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> n
                <input type="text" name="n" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 12 %}
        <img src="{{url_for('static', filename='n2.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> S<sub>n</sub>
                <input type="text" name="sn" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> n
                <input type="text" name="n" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a<sub>1</sub>
                <input type="text" name="a1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> d
                <input type="text" name="d" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 13 %}
        <img src="{{url_for('static', filename='n3.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> S<sub>n</sub>
                <input type="text" name="sn" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a<sub>1</sub>
                <input type="text" name="a1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> n
                <input type="text" name="n" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 14 %}
        <img src="{{url_for('static', filename='sumlol.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> S<sub>∞</sub>
                <input type="text" name="sn" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a<sub>1</sub>
                <input type="text" name="a1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 15 %}
        <img src="{{url_for('static', filename='ci.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> A
                <input type="text" name="A" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> P
                <input type="text" name="P" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r (in %)
                <input type="text" name="r%" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> n
                <input type="text" name="n" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> t
                <input type="text" name="t" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 16 %}
        <img src="{{url_for('static', filename='combination.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> <sub>n</sub>C<sub>r</sub>
                <input type="text" name="nCr" value="" pattern="[0-9()×*+/^π]*?" style="width: 70px; pointer-events: none; background: lightgrey" readonly="readonly">
            </label>
            <label style="font-size: 30px"> n
                <input type="text" name="n" pattern="[0-9()×*+/^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+/^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 17 %}
        <img src="{{url_for('static', filename='perm.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> <sub>n</sub>P<sub>r</sub>
                <input type="text" name="nPr" value="" pattern="[0-9()×*+/^π]*?" style="width: 70px; pointer-events: none; background: lightgrey" readonly="readonly">
            </label>
            <label style="font-size: 30px"> n
                <input type="text" name="n" pattern="[0-9()×*+/^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+/^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 18 %}
        <img src="{{url_for('static', filename='ver.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> x
                <input type="text" name="x" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a
                <input type="text" name="a" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 19 %}
        <img src="{{url_for('static', filename='qu.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> x
                <input type="text" name="x" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a
                <input type="text" name="a" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> c
                <input type="text" name="c" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 20 %}
        <img src="{{url_for('static', filename='dis.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> Discriminant
                <input type="text" name="disc" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a
                <input type="text" name="a" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> c
                <input type="text" name="c" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 21 %}
        <img src="{{url_for('static', filename='pyramid-volume.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> V
                <input type="text" name="V" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> l
                <input type="text" name="l" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> w
                <input type="text" name="w" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> h
                <input type="text" name="h" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 22 %}
        <img src="{{url_for('static', filename='vc.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> V
                <input type="text" name="V" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> h
                <input type="text" name="h" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 23 %}
        <img src="{{url_for('static', filename='Volume-of-a-Sphere-Formula.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> V
                <input type="text" name="V" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 24 %}
        <img src="{{url_for('static', filename='conearea.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> A
                <input type="text" name="A" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> l
                <input type="text" name="l" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 25 %}
        <img src="{{url_for('static', filename='sa.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> A
                <input type="text" name="A" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 26 %}
        <img src="{{url_for('static', filename='sinrule.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> a
                <input type="text" name="a" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> A (in rads)
                <input type="text" name="A" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> B (in rads)
                <input type="text" name="B" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 27 %}
        <img src="{{url_for('static', filename='cosinrule.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> a
                <input type="text" name="a" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> c
                <input type="text" name="c" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> C (in rads)
                <input type="text" name="C" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 28 %}
        <img src="{{url_for('static', filename='tri.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> Area
                <input type="text" name="Area" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a
                <input type="text" name="a" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b
                <input type="text" name="b" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> C (in rads)
                <input type="text" name="C" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 29 %}
        <img src="{{url_for('static', filename='arcl.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> l
                <input type="text" name="l" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> θ (in rads)
                <input type="text" name="θ" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 30 %}
        <img src="{{url_for('static', filename='sectorarea.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> A
                <input type="text" name="A" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> r
                <input type="text" name="r" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> θ (in rads)
                <input type="text" name="θ" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 31 %}
        <img src="{{url_for('static', filename='vectorm.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> |<strong>v</strong>|
                <input type="text" name="Area" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> v<sub>1</sub>
                <input type="text" name="v1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> v<sub>2</sub>
                <input type="text" name="v2" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 32 %}
        <img src="{{url_for('static', filename='dot.jpg')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> <strong>a</strong> ⋅ <strong>b</strong>
                <input type="text" name="a⋅b" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a<sub>1</sub>
                <input type="text" name="a1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> a<sub>2</sub>
                <input type="text" name="a2" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b<sub>1</sub>
                <input type="text" name="b1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> b<sub>2</sub>
                <input type="text" name="b2" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% elif val == 33 %}
        <img src="{{url_for('static', filename='angle-two-vectors.png')}}" alt="Equation" style="max-width: 500px; max-height: 500px"/>
        <form method="POST">
            <label style="font-size: 30px"> θ (in rads)
                <input type="text" name="θ" pattern="[0-9()×*+./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> u<sub>1</sub>
                <input type="text" name="u1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> u<sub>2</sub>
                <input type="text" name="u2" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> v<sub>1</sub>
                <input type="text" name="v1" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <label style="font-size: 30px"> v<sub>2</sub>
                <input type="text" name="v2" pattern="[0-9()×*+-./^π]*?" style="width: 70px">
            </label>
            <button type="submit">Solve</button>
        </form>
        <h1>{{answer}}</h1>
        {% endif %}
    </div>
</body>
